<%layout("./layouts/boilerplate") -%>
<body>
    <h1>This is dashboard</h1>
    <div class="row">
        <% for (let person of persons){%>
            <div class="card listing-card" style="width: 18rem;">
                <a href="/dashbord/<%=person._id%>/show">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title"><%=person.email%></h5>
                  <p class="card-text"><%=person.phone%></p>
                  <h7><%=person.name%></h7>
                  <p class="card-text">Gender: <%=person.gender%></p>
                  <p class="card-text"><%=person.city%>, <%=person.state%></p>
                  <a href="#" class="btn btn-dark">Delete</a>
                </div>
                </a>
            </div>
        <%}%>
    </div>
</body>
