<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>This is dashboard</h1>
    <br><br>
    <% for ( let person of persons) {%>
        <%=person.name%>
        <%=person.email%>
        <%=person.password%>
        <%=person.gender%>
        <hr>
        <form action="/<%=person._id%>/edit" method="get"><button class="btn-primary">Show </button></form>
        <%}%>
</body>
</html>