<%layout("./layouts/boilerplate") -%>
<body>
<div class="row">

<div class="col-8 offset-2" >

    <h3><%=person.name%></h3>

    <div class="card show-card listing-card " >
        <img src="<%=person.image%>" class="card-img-top" alt=".." style="height: 300px;">
        

        <div class="card-body">
            <p class="card-text">Created By :<i><%=person.email%> </i></p>
            <p class="card-text"><%=person.phone%> </p>

            <p class="card-text"> <%=person.gender%> </p>

            <p class="card-text">  <%=person.city%></p>

            <p class="card-text">  <%=person.state%> </p>

        </div>

    <div class="show-btns">
        <div class="col-md-2">
            <a href="/dashbord/<%=person._id%>/edit">
            <button type="submit" class="btn btn-primary add-btn">Edit</button></a>
        </div>

        <div class="col-md-12">
            <form method="POST" action="/dashbord/<%= person._id%>?_method=Delete" >
                   <button type="submit" class="btn btn-dark ">Delete</button>
            </form>
        </div>

    </div>
        </div>
        <hr>
</div>
</div>
</body>